In [1]:
import pandas as pd

In [10]:
produtos = pd.read_csv('product_info.csv', sep=';')
compras = pd.read_csv('purchase.csv')
clientes = pd.read_csv('user_profile.csv', sep='|')

In [14]:
produtos.head(3)

  Product_ID  Product_Category_1  Product_Category_2  Product_Category_3
0  P00069042                   3                 NaN                 NaN
1  P00248942                   1                 6.0                14.0
2  P00087842                  12                 NaN                 NaN

In [15]:
compras.head(3)

   User_ID Product_ID  Purchase
0  1000001  P00069042      8370
1  1000001  P00248942     15200
2  1000001  P00087842      1422

In [16]:
clientes.head(3)

,User_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status
0,1000001,F,0-17,10,A,2,0
1,1000002,M,55+,16,C,4+,0
2,1000003,M,26-35,15,A,3,0

In [20]:
df = clientes.merge(compras, on='User_ID', how='outer')
df

,User_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_ID,Purchase
0,1000001,F,0-17,10,A,2,0,P00069042,8370
1,1000001,F,0-17,10,A,2,0,P00248942,15200
2,1000001,F,0-17,10,A,2,0,P00087842,1422
3,1000001,F,0-17,10,A,2,0,P00085442,1057
4,1000001,F,0-17,10,A,2,0,P00085942,12842
...,...,...,...,...,...,...,...,...,...
537572,1001529,M,18-25,4,C,4+,1,P00148442,16245
537573,1001529,M,18-25,4,C,4+,1,P00053942,15185
537574,1001529,M,18-25,4,C,4+,1,P00182742,11975
537575,1001529,M,18-25,4,C,4+,1,P00242742,11893
537576,1001529,M,18-25,4,C,4+,1,P00063342,11641

In [21]:
df = df.merge(produtos, on='Product_ID', how='outer')
df

,User_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_ID,Purchase,Product_Category_1,Product_Category_2,Product_Category_3
0,1000001,F,0-17,10,A,2,0,P00069042,8370,3,NaN,NaN
1,1000017,M,51-55,1,C,0,0,P00069042,13591,3,NaN,NaN
2,1000023,M,36-45,0,B,3,1,P00069042,11022,3,NaN,NaN
3,1000030,F,36-45,7,C,3,0,P00069042,8036,3,NaN,NaN
4,1000073,M,18-25,4,A,4+,0,P00069042,10885,3,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
537572,1005754,F,18-25,1,A,2,0,P00234942,7120,5,NaN,NaN
537573,1005948,M,55+,13,B,0,0,P00126342,9875,8,NaN,NaN
537574,1006001,F,26-35,7,A,0,1,P00013442,2277,8,NaN,NaN
537575,1002315,M,55+,7,C,4+,1,P00063442,1866,5,NaN,NaN
537576,1003235,M,18-25,4,C,4+,0,P00315242,7062,5,8.0,NaN

In [22]:
df.to_csv('DF')

In [23]:
df.head(50)

,User_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_ID,Purchase,Product_Category_1,Product_Category_2,Product_Category_3
0,1000001,F,0-17,10,A,2,0,P00069042,8370,3,NaN,NaN
1,1000017,M,51-55,1,C,0,0,P00069042,13591,3,NaN,NaN
2,1000023,M,36-45,0,B,3,1,P00069042,11022,3,NaN,NaN
3,1000030,F,36-45,7,C,3,0,P00069042,8036,3,NaN,NaN
4,1000073,M,18-25,4,A,4+,0,P00069042,10885,3,NaN,NaN
5,1000076,M,36-45,7,B,2,1,P00069042,10774,3,NaN,NaN
6,1000139,F,26-35,20,C,2,0,P00069042,13557,3,NaN,NaN
7,1000149,M,26-35,1,B,2,1,P00069042,10715,3,NaN,NaN
8,1000187,F,46-50,1,B,1,0,P00069042,10976,3,NaN,NaN
9,1000239,M,18-25,19,A,1,0,P00069042,13199,3,NaN,NaN
10,1000266,M,36-45,11,C,3,0,P00069042,13605,3,NaN,NaN
11,1000267,M,46-50,12,C,1,1,P00069042,13275,3,NaN,NaN
12,1000347,F,55+,1,A,1,0,P00069042,13313,3,NaN,NaN
13,1000412,M,36-45,15,A,1,1,P00069042,13642,3,NaN,NaN
14,1000438,M,18-25,11,A,3,0,P00069042,13681,3,NaN,NaN
15,1000451,M,55+,13,C,4+,1,P00069042,11056,3,NaN,NaN
16,1000524,M,18-25,0,A,0,0,P00069042,13547,3,NaN,NaN
17,1000539,M,26-35,2,C,4+,0,P00069042,10804,3,NaN,NaN
18,1000541,F,18-25,4,C,3,0,P00069042,11037,3,NaN,NaN
19,1000550,M,46-50,8,B,1,1,P00069042,13446,3,NaN,NaN
20,1000563,M,26-35,4,A,3,0,P00069042,10790,3,NaN,NaN
21,1000682,M,26-35,4,C,1,0,P00069042,8414,3,NaN,NaN
22,1000692,F,26-35,0,A,0,1,P00069042,10882,3,NaN,NaN
23,1000698,M,18-25,4,A,1,0,P00069042,8009,3,NaN,NaN
24,1000710,M,26-35,20,A,4+,0,P00069042,10582,3,NaN,NaN
25,1000743,F,0-17,2,A,2,0,P00069042,13702,3,NaN,NaN
26,1000774,M,18-25,4,A,4+,0,P00069042,13509,3,NaN,NaN
27,1000824,M,36-45,12,A,2,1,P00069042,10727,3,NaN,NaN
28,1000877,M,26-35,0,B,1,1,P00069042,13246,3,NaN,NaN
29,1000937,M,26-35,15,A,2,1,P00069042,13284,3,NaN,NaN
30,1000951,M,46-50,2,B,4+,1,P00069042,13346,3,NaN,NaN
31,1000953,M,51-55,20,B,1,1,P00069042,13600,3,NaN,NaN
32,1000980,M,26-35,6,C,2,1,P00069042,13664,3,NaN,NaN
33,1000989,M,51-55,0,C,4+,1,P00069042,13587,3,NaN,NaN
34,1001050,M,26-35,1,B,1,0,P00069042,13265,3,NaN,NaN
35,1001077,M,26-35,3,A,1,0,P00069042,7967,3,NaN,NaN
36,1001112,M,18-25,6,A,4+,0,P00069042,13716,3,NaN,NaN
37,1001120,M,18-25,4,A,0,1,P00069042,13615,3,NaN,NaN
38,1001140,F,46-50,2,B,2,1,P00069042,10597,3,NaN,NaN
39,1001141,F,26-35,3,B,1,1,P00069042,13206,3,NaN,NaN
40,1001181,M,36-45,7,A,3,1,P00069042,11041,3,NaN,NaN
41,1001223,M,26-35,2,C,4+,0,P00069042,13398,3,NaN,NaN
42,1001224,M,51-55,13,B,4+,0,P00069042,13350,3,NaN,NaN
43,1001242,F,36-45,0,A,0,1,P00069042,13508,3,NaN,NaN
44,1001274,M,46-50,7,B,4+,1,P00069042,10807,3,NaN,NaN
45,1001297,M,26-35,7,A,4+,0,P00069042,13300,3,NaN,NaN
46,1001299,M,26-35,14,B,1,0,P00069042,10992,3,NaN,NaN
47,1001325,M,26-35,1,B,1,1,P00069042,13261,3,NaN,NaN
48,1001336,F,51-55,20,B,4+,1,P00069042,11059,3,NaN,NaN
49,1001347,F,18-25,1,C,0,0,P00069042,13458,3,NaN,NaN

## Questão 1
Quantas observações e quantas colunas há no dataset completo (todas as bases juntas)? Responda no formato de uma tuple (n_observacoes, n_colunas).

In [82]:
df.shape

(537577, 12)



## Questão 2
Há quantas mulheres com idade entre 26 e 35 anos no dataset? Responda como um único escalar.

In [85]:
filtro = df[(df['Gender'] == 'F') & (df['Age'] == '26-35')]
filtro['User_ID'].nunique()

545

## Questão 3
Quantos usuários únicos há no dataset? Responda como um único escalar.

In [84]:
df['User_ID'].nunique()

5891

## Questão 4
Qual porcentagem dos registros (percentual de linhas) possui ao menos um valor null (None, ǸaN etc)? Responda como um único escalar entre 0 e 1.

In [92]:
round((1 - (df.dropna().shape[0]) / df.shape[0]), 3)

0.694

## Questão 5
Quantos valores null existem na variável (coluna) com o maior número de null? Responda como um único escalar.

In [107]:
df.isnull().sum().max()

373299

## Questão 6
Qual o valor mais frequente (sem contar nulls) em Product_Category_3? Responda como um único escalar.

In [130]:
df['Product_Category_3'].value_counts().index[0]

16.0

## Questão 7
Podemos afirmar que se uma observação é null em Product_Category_2 ela também o é em Product_Category_3? Responda com um bool (True, False).

In [148]:
df.isnull().sum()

User_ID                            0
Gender                             0
Age                                0
Occupation                         0
City_Category                      0
Stay_In_Current_City_Years         0
Marital_Status                     0
Product_ID                         0
Purchase                           0
Product_Category_1                 0
Product_Category_2            166986
Product_Category_3            373299
dtype: int64

In [152]:
df[['Product_Category_3']]

        Product_Category_3
0                      NaN
1                      NaN
2                      NaN
3                      NaN
4                      NaN
...                    ...
537572                 NaN
537573                 NaN
537574                 NaN
537575                 NaN
537576                 NaN

[537577 rows x 1 columns]